# Configuration file

####################
# arsmagica tweaks
####################

"arsmagica tweaks" {
    B:"Can desert novas be obtained"=true
    B:"Can moonstone be obtained"=false
}


####################
# ex aliquo multi-mod tweaks
####################

"ex aliquo multi-mod tweaks" {
    # False for counting as an ingot
    B:"Are Gravel/Sand/Dust Ores actually ores"=true
    B:"Hide Feesh from hammers"=true

    # Requires ninja-like feesh to do anything
    B:"Whenk :V"=true
}


####################
# ex aliquo things
####################

"ex aliquo things" {
    I:"Aluminum Hammer ID"=3525
    I:"Copper Hammer ID"=3526
    I:"Dragon Egg"=3527
    I:EnderBlock=3528
    I:EnderCake=3529
    I:"Golden Crook"=3530
    I:"Hay Crook"=3531
    I:"Invar Hammer ID"=3532
    I:"Lead Hammer ID"=3533
    I:"Nickel Hammer ID"=3534
    I:"Platinum Hammer ID"=3535
    I:"Reed Crook"=3536
    I:"Silver Hammer ID"=3537
    I:"Thaumium Hammer ID"=3538
    I:"Tin Hammer ID"=3539
}


####################
# mariculture tweaks
####################

"mariculture tweaks" {
    B:"Can Oysters be obtained via fishing"=true
}


####################
# metallurgy block ids
####################

"metallurgy block ids" {
    I:"AdamantineOre Block"=1490
    I:"AlduoriteOre Block"=1491
    I:"AstralSilverOre Block"=1492
    I:"AtlarusOre Block"=1493
    I:"CarmotOre Block"=1494
    I:"CeruclaseOre Block"=1495
    I:"DeepIronOre Block"=1496
    I:"EximiteOre Block"=1497
    I:"IgnatiusOre Block"=1498
    I:"InfucoliumOre Block"=1499
    I:"KalendriteOre Block"=1500
    I:"LemuriteOre Block"=1501
    I:"ManganeseOre Block"=1502
    I:"MeuroiteOre Block"=1503
    I:"MidasiumOre Block"=1504
    I:"MithrilOre Block"=1505
    I:"OrichalcumOre Block"=1506
    I:"OureclaseOre Block"=1507
    I:"PromethiumOre Block"=1508
    I:"RubraciumOre Block"=1509
    I:"SanguiniteOre Block"=1510
    I:"ShadowIronOre Block"=1511
    I:"VulcaniteOre Block"=1512
    I:"VyroxeresOre Block"=1513
    I:"ZincOre Block"=1514
}


####################
# metallurgy item ids
####################

"metallurgy item ids" {
    I:"AdamantineOre Item"=20502
    I:"AlduoriteOre Item"=20503
    I:"AstralSilverOre Item"=20504
    I:"AtlarusOre Item"=20505
    I:"CarmotOre Item"=20506
    I:"CeruclaseOre Item"=20507
    I:"DeepIronOre Item"=20508
    I:"EximiteOre Item"=20509
    I:"IgnatiusOre Item"=20510
    I:"InfuscoliumOre Item"=20511
    I:"KalendriteOre Item"=20512
    I:"LemuriteOre Item"=20513
    I:"ManganeseOre Item"=20514
    I:"MeuroiteOre Item"=20515
    I:"MidasiumOre Item"=20516
    I:"MithrilOre Item"=20517
    I:"OrichalcumOre Item"=20518
    I:"OureclaseOre Item"=20519
    I:"PrometheumOre Item"=20520
    I:"RubraciumOre Item"=20521
    I:"SanguiniteOre Item"=20522
    I:"ShadowIronOre Item"=20523
    I:"VulcaniteOre Item"=20524
    I:"VyroxeresOre Item"=20525
    I:"ZincOre Item"=20526
}


####################
# minefactory reloaded tweaks
####################

"minefactory reloaded tweaks" {
    B:"Can Sacred Rubber Trees be obtained"=false
}


####################
# natura tweaks
####################

"natura tweaks" {
    B:"Can berry bushes be obtained"=true
    B:"Can hopseed trees be obtained"=false
    B:"Can natura trees be obtained"=true
    B:"Can nether bushes be obtained"=true
    B:"Can nether trees be obtained"=true

    # Redwoods eat every block going both up and down. Use at your own peril. Or enjoyment
    B:"Can redwood trees be obtained"=false
}


####################
# tcon block ids
####################

"tcon block ids" {
    I:"ArditeOre Block"=1520
    I:"CobaltOre Block"=1521
}


####################
# tcon item ids
####################

"tcon item ids" {
    I:"ArditeOre Item"=20501
    I:"CobaltOre Item"=20500
}


####################
# tcon tweaks
####################

"tcon tweaks" {
    B:"Can Gravel/Sand/Dust items be smelted"=true
    B:"Can essense bushes be obtained"=true
    B:"Can oreberry bushes be composted"=false
    B:"Can orebushes be obtained"=true
    B:"Enable mini-smelteries"=false
    B:"Fortune-Crooking Interaction"=false
    B:"Fortune-Hammering Interaction"=false

    # 0 is default (tool restrictions), 1 is dual-use tools unrestricted, 2 is fully unlock
    I:"Modifier lock"=0

    # Normal is 1/4 the block value. False means dusts are 1/6 the value
    B:"Normal dust value in the smeltery"=true
}


####################
# thaumcraft tweaks
####################

"thaumcraft tweaks" {
    # False to instead change how greatwoods are obtained
    B:"Alternate Runics to prevent wall"=true
    B:"Do the primal aspect wand cores require a Greatwood wand core"=false
    B:"For tundra-less skyblocks"=false

    # Set 0 for default, 1 for tweaked difficulty, and -1 to disable. See the forum post for difficulty changes
    I:"Silverwood Setting"=0
}


